@using EntityLayer.Concrete
@model List<Content>

@{
    Layout = null;
}
<!-- Font Awesome Icons -->
<link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/fontawesome-free/css/all.min.css">
<!-- IonIcons -->
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/AdminLTE-3.2.0/dist/css/adminlte.min.css">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<div class="navbar bg-black navbar-dark navbar-expand-sm">
    <div class="container">
        <a href="/" class="navbar-brand"></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/Home/HomePage" class="nav-link">Ana Sayfa</a>
            </li>
        </ul>
        <ul class="navbar-nav nav justify-content-center ">
            <li>

                @using (Html.BeginForm("GetAllHomeContent", "Home", FormMethod.Post))
                {
                    <p>
                        @Html.TextBox("p")
                        <i class="fa fa-search" placeholder="Başlık " type="submit" ></i>
                    </p>
                }

            </li>
        </ul>

        <ul class="navbar-nav ml-auto">

            @if (User.Identity.IsAuthenticated)
            {

                <li class="nav-item">
                    <a href="/Login/LogOut" class="nav-link">Çıkış Yap</a>
                </li>
            }
            <li class="login">
                <a href="/Login/WriterLogin" class="nav-link">Giriş Yap</a>                   
            </li>
            <li class="nav-item">
                <a href="/Writer/AddWriter" class="nav-link"><strong>Kaydol</strong></a>
            </li>
        </ul>
    </div>
</div>


<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">

                <!-- Timelime example  -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- The time line -->
                        <div class="timeline">
                            @foreach (var item in Model)
                            {


                                <!-- timeline time label -->
                                <div class="time-label">
                                    <span class="bg-success">@(((DateTime)item.ContentDate).ToString("yyyy-MMM-dd")) - @item.Writer.WriterName @item.Writer.WriterSurname</span>
                                </div>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <div>
                                    <i class="fas fa-comment bg-yellow"></i>
                                    <div class="timeline-item">
                                        <h3 class="timeline-header"><a href="#">@item.Heading.HeadingName</a></h3>
                                        <div class="timeline-body">
                                            @item.ContentValue
                                        </div>
                                    </div>
                                </div>
                                <!-- END timeline item -->
                            }
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.timeline -->
        </section>
        <!-- /.content -->
    </div>
    <!-- ./wrapper -->
</body>
<script src="~/AdminLTE-3.2.0/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="~/AdminLTE-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="~/AdminLTE-3.2.0/dist/js/adminlte.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="~/AdminLTE-3.2.0/plugins/chart.js/Chart.min.js"></script>
<script src="~/AdminLTE-3.2.0/dist/js/demo.js"></script>
<script src="~/AdminLTE-3.2.0/dist/js/pages/dashboard3.js"></script>


